<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Skill</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Add Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
      <div class="form">
        <label for="skill">Skill</label>
        <input type="text" name="skill" id="input" />
      </div>
      <div class="expertform">
        <label for="learningscale">Expert</label>
        <input type="radio" name="expert" value="expert" />
        <label for="expert">Yes</label>
        <input type="radio" name="expert" value="notexpert" /><label
          for="expert"
          >No</label
        >
      </div>
      <div id="submitbutton">
        <button type="submit">Add Skill</button>
        <a href="/"><button>Home</button></a
      </div>
    </form>

      
    
  </body>
</html>
