<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/skills/new"><button class="homepage">Add Skill</button></a>
    <a href="/skills"><button class="homepage">View Skills</button></a>
  </body>
</html>
